
<div class="page page-accueil" ng-class="{display: loaded==true}">
	<div class="accroche">
		<div class="before">&laquo;</div>
		<div class="after">&raquo;</div>
		<div class="txt">
			<strong>Développeur web</strong> depuis 5 ans, je travaille en freelance et peux collaborer à votre projet <strong>internet ou intranet</strong>, intervenir ponctuellement au sein d'une <strong>équipe</strong>, ou encore construire votre <strong>site internet de A à Z</strong>.
		</div>
	</div>

	<div class="job">
		<div class="bloc int">
			<div class="img"><img ng-src="{{rootPath}}/img/accueil/integrateur.png"></div>
			<div class="title">Int&eacute;grateur</div>
			<div class="description">
				<p>
					Je transforme vos <strong>maquettes</strong> en pages web <strong>HTML/CSS</strong> performantes et accessibles.
				</p>
				<p>
					Le <strong>Javascript</strong> n'a plus de secret pour moi, vos pages seront <strong>riches, fluides et dynamiques</strong>.
				</p>
			</div>
		</div>
		<div class="bloc dev">
			<div class="img"><img ng-src="{{rootPath}}/img/accueil/developpeur.png"></div>
			<div class="title">D&eacute;veloppeur</div>
			<div class="description">
				<p>
					Je maîtrise la programmation <strong>PHP/MySQL</strong> pour mener à bien vos <strong>projets web ou intranet</strong>.
				</p>
				<p>
					Je développe également en JAVA et je m'adapte à des CMS tels que Wordpress.
				</p>
			</div>
		</div>
		<div class="bloc full">
			<div class="img"><img ng-src="{{rootPath}}/img/accueil/site.png"></div>
			<div class="title">Votre site de A à Z</div>
			<div class="description">
				<p>
					Fort d'une <a href="#/references">riche expérience</a> en la matière, je peux réaliser votre site internet ou intranet de A à Z, graphisme et mise en production du site compris.
				</p>
			</div>
		</div>
	</div>

	<div class="contact">
		N'hésitez pas &agrave; <a href="#/contact">me contacter</a> pour en savoir plus !</a>
	</div>
</div>
