<div class="page page-cv" ng-class="{display: loaded==true}">
	<h1>{{location.menu.title}}</h1>
	
	<div class="intro">
		<div class="identity">
			<ul>
				<li class="name">
					{{contact.name}} {{contact.firstname}}
				</li>
				<li>
					{{contact.birth}}
				</li>
				<li class="separator">
					{{contact.address}}
				</li>
				<li>
					{{contact.city}}
				</li>
			</ul>
		</div>
		<div class="contact">
			<ul>
				<li>
					<email/>
				</li>
				<li>
					{{contact.tel}}
				</li>
			</ul>
		</div>
		<div class="download" ng-click="download()">
			<img ng-src="{{rootPath}}img/icons/cv.png" alt="Télécharger le CV"/>
			<div>
				T&eacute;l&eacute;charger le CV
			</div>
		</div>
	</div>

	<div class="cv">
		<div class="bloc" data-part="{{c}}" ng-repeat="c in cv.order">
			<div class="title">
				{{cv.all[c].title}}:
			</div>
			<ul>
				<li ng-repeat="f in cv.all[c].order">
					<div class="title">
						<span class="date" ng-show="c!='autres'">{{cv.all[c].all[f].date}}</span>
						<span class="content">{{cv.all[c].all[f].titre}}</span>
					</div>
					<div class="description">{{cv.all[c].all[f].description}}</div>
				</li>
			</ul>

			<div class="link" ng-show="c=='experience_pro'">
				<a href="#/references">Voir mes r&eacute;f&eacute;rences clients</a>
			</div>
		</div>
	</div>
</div>